/*
==============================
GRID CLASSES
==============================
*/
.third:after {
  content: '';
  display: table;
  clear: both;
}

.third > * {
  float: left;
  width: calc((100%/3) - 2rem);
  display: inline-block;
}


/*
==============================
EYEBROW
==============================
*/
.eyebrow .site-width:after {
  content: '';
  display: table;
  clear: both; 
}

.eyebrow .site-width > * {
  float: left;
}

.eyebrow .site-width > *:last-child {
  float: right;
}


/*
==============================
SITE HEADER
==============================
*/
.site-header-top-items {
  display: table;
  width: 100%;
}

.site-header-top-items > * {
  display: table-cell;
  vertical-align: middle;
}

.site-header-nav-container {
  width: 65%;
}

.site-header-menu-toggle {
  display: none;
}

.site-header-rad-container button {
  float: right;
}

.top-level-navigation {
  /*display: table;
  width: 100%;*/
  > * {
    display: inline-block;
  }
}



[class*='color-box-headline'] {
  display: inline-block;
}