.error-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
  }

  img {
    width: 100%;
  }

  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: normal;
  }

  .error-image-container {
    @include tablet {
      flex-basis: 33%;
    }
  }
  
  .error-content-container {
    text-align: center;
    @include tablet {
      text-align: left;
      margin-left: 3rem;
    }
  }
}