.post-type-archive-integration .page-sections .card a {
  display: block;
  min-height: 90px;
}

.post-type-archive-integration .page-sections .card img {
    max-width: 125px;
    max-height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

// .page-template-archive {
//   main .card-image {
//     min-height: 100px;
//     background-size: 45% 45%;
//     background-position: center center;
//     background-repeat: no-repeat;
//     box-shadow: none;
//     padding: 0 0 50% !important;
//     @include tablet {
//       top: 0;
//       background-size: 75% 75%;  
//     }
//   }

//   main aside a {
//     text-decoration: none;
//     color: $gray;
//     transition: all 200ms ease-in-out;
//     &:hover,
//     &:focus {
//       color: $brand;   
//     }
//   }

//   #sidebar {
//     @include mobile {
//       display: none;
//     }
//   }

//   .breadcrumbs {
//     margin-bottom: 0;
//   }

// }