.home main {
  padding-bottom: 0;
}

.promoted-item-container {
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 3rem; 
  color: $white;
}

.no-promoted-item {
  position: relative;
  z-index: 0;
}

.home .svg-icon svg {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
}