.home main {
  padding-bottom: 0;
}

.promoted-item-container {
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 3rem; 
  color: $white;
}

.no-promoted-item {
  position: relative;
  z-index: 0;
}