.employee-testimonials-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
  > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $brand2;
    background-image: linear-gradient(transparentize($brand2, 0.5), transparentize($brand2, 0.5)), url(../img/octiv-pattern.svg), linear-gradient(135deg, $brand2, $brand2);
    background-size: cover, 200px, cover;
    padding: 2rem;
    @include fullhd {
      padding: 3rem;
    }
    color: $white;
    text-shadow: 2px 2px 1px rgba(black, 0.4);
    font-size: 1.4em;
    &:nth-child(2n) {
      background-color: $brand3;
      background-image: linear-gradient(transparentize($brand3, 0.5), transparentize($brand3, 0.5)), url(../img/octiv-pattern.svg), linear-gradient(135deg, $brand3, $brand3);
    }
    &:nth-child(3n) {
      background-color: $brand4;
      background-image: linear-gradient(transparentize($brand4, 0.5), transparentize($brand4, 0.5)), url(../img/octiv-pattern.svg), linear-gradient(135deg, $brand4, $brand4);
    }
  }
}

.employee-testimonials-list .person-details-container {
  flex-direction: column;
}

.leadership-grid {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  img[src*="svg"] {
    max-width: 30px;
  }
}

.leadership-headshot {
  width: 100%;
  max-width: 185px;
  min-width: 185px;
  min-height: 185px;
  border-radius: 50%;
}

.headshot-container {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;

  &:after {
    max-width: 185px;
    max-height: 185px;
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
}

.headshot-container .read-bio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 2;
}

.read-bio button {
  font-size: 0.85em;
}

.headshot-container:hover {
  
  &:after {
    opacity: 0.6;
  }

  .read-bio {
    opacity: 1;
  }

}

.leadership-content p {
  margin-bottom: 0.5rem;
}

.page-template-company-page .site-footer {
  margin-top: 0;
}