.page-section-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
}

.page-section-item {
  margin-bottom: 3rem;
  @include tablet {
    margin-bottom: 9rem;
  }
  &:last-child {
    margin-bottom: 6rem;
  }
  .img-container img {
    width: 100%;
  }
}

.page-section-item .badge {
  position: relative;
  overflow: hidden;
  background-color: $lgray;
  border-radius: 50%;
  margin: 0 auto;
  max-width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    max-width: 300px;
    height: 300px;
  }
}

.page-section-promoted-item {
  color: $white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  // @include tablet {
  //   padding-top: 9rem;
  //   padding-bottom: 9rem;
  // }

  .color-boxes {
    margin-bottom: 1.5rem;
    & + p {
      @include tablet {
        font-size: 1.4em;
      }
    }
  }
}


/*
==============================
ANIMATIONS
==============================
*/
.animation-platform--create {
  position: relative;
  min-height: 300px;

  [class*="badge"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid $white;
    background-color: $lgray;
    box-shadow: 3px 3px 15px rgba(black, 0.1);
    border-radius: 50%;
    padding: 10px;
    font-size: 0.85em;
    line-height: 1.1;
    width: 100px;
    height: 100px;
    transition: transform 400ms cubic-bezier(0.46,-0.43, 0.89, 0.99);
    svg {
      width: 75%;
      height: auto;
    }
  }

  .octiv-badge {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $brand;
    color: $white;
    svg path {
      fill: $white;
    }
  }

  .document-inputs,
  .document-outputs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    > div {
      width: 85px;
      height: 85px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .badge-img {
      transform: translate(-225%, -175%);
    }
    .badge-line-chart {
      transform: translate(-175%, -75%); 
      transition-delay: 200ms;
    }
    .badge-table {
      transform: translate(-105%, -175%);  
      transition-delay: 400ms;
    }
    .badge-video {
      transform: translate(25%, -175%);    
      transition-delay: 600ms;
    }
    .badge-bar-chart {
      transform: translate(75%, -75%);      
      transition-delay: 800ms;
    }
    .badge-pie-chart {
      transform: translate(150%, -175%);  
      transition-delay: 1000ms;
    }
    .badge-contracts,
    .badge-proposals,
    .badge-quotes,
    .badge-invoices {
      transform: translate(-50%, -50%) scale(0.8);  
    }
  }

  .document-outputs {
    > div {
      width: 100px;
      height: 100px;
      transition: transform 600ms cubic-bezier(0.15, 0.11, 0.13, 1.42);
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        text-decoration: none;
        color: $gray;
        font-weight: bold;
      }
    }
  }

  &.active {
    .octiv-badge {
      transform: scale(1.1) translate(-50%, -50%);
    }
    .badge-img,
    .badge-line-chart,
    .badge-table,
    .badge-video,
    .badge-bar-chart,
    .badge-pie-chart {
      transform: translate(-50%, -50%);
    }
    .badge-contracts {
      transform: translate(-225%, 0%);
      transition-delay: 1200ms
    }
    .badge-proposals {
      transform: translate(-125%, 50%);  
      transition-delay: 1400ms
    }
    .badge-quotes {
      transform: translate(0%, 50%);  
      transition-delay: 1600ms
    }
    .badge-invoices {
      transform: translate(100%, 0%);  
      transition-delay: 1800ms
    }
  }
}

.animation-platform--share {
  .badge {
    
    svg {
      filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.2));
      transform: translateY(125%);
      transition: all 600ms cubic-bezier(0.15, 0.11, 0.13, 1.42);
      width: 100%;
      max-width: 70%;
      max-height: 70%;
      rect {
        fill: $mgray;
        &.st2 {
          fill: $brand;  
        }
      }
      path {
        fill: $brand;
      }
      polygon.blue-edit,
      circle.blue-edit {
        fill: $white;
      }
    }

    .badge-person {
      position: absolute;
      border-radius: 50%;
      width: 100%;
      max-width: 50px;
      transition: all 400ms cubic-bezier(0.15, 0.11, 0.13, 1.42);
      border: 3px solid $white;
      box-shadow: 1px 1px 2px rgba(black, 0.2);
    }

    .blue-person {
      transform: translate(-230%, -135%) scale(0);
      @include mobile {
        transform: translate(-185%, -100%) scale(0);
      }
      transition-delay: 1200ms;
    }

    .blue-edit {
      transition: all 300ms ease-in-out;
      transition-delay: 1200ms;
    }

    .purple-person {
      transform: translate(230%, 0%) scale(0);
      @include mobile {
        transform: translate(185%, 0%) scale(0);
      }
      transition-delay: 2400ms;
    }

    .purple-edit {
      transition: all 300ms ease-in-out;
      transition-delay: 2400ms;
    }
    
    .green-person {
      transform: translate(-230%, 125%) scale(0);
      @include mobile {
        transform: translate(-185%, 100%) scale(0);
      }
      transition-delay: 3600ms;
    }
    
    .green-edit {
      transition: all 300ms ease-in-out;
      transition-delay: 3600ms;
    }
  }

  &.active {
    svg {
      transform: translateY(0);
    }
    .blue-person {
      transform: translate(-230%, -135%) scale(1);
      @include mobile {
        transform: translate(-185%, -100%) scale(1);
      }
    }
    .purple-person {
      transform: translate(230%, 0%) scale(1);
      @include mobile {
        transform: translate(185%, 0%) scale(1);
      }
    }
    .green-person {
      transform: translate(-230%, 125%) scale(1);
      @include mobile {
        transform: translate(-185%, 100%) scale(1);
      }
    }
    .blue-edit,
    polygon.blue-edit,
    circle.blue-edit {
      fill: $brand2 !important;
    }
    .purple-edit {
      fill: $brand4;
    }
    .green-edit {
      fill: $brand3;
    }
  }
}

.animation-platform--sign {
  .badge {
    rect {
      fill: $mgray;
      &.st2 {
        fill: $brand;  
      }
    }
    path {
      fill: $brand;
    }
    polygon.blue-edit,
    circle.blue-edit {
      fill: $white;
    }
    .badge-person {
      position: absolute;
      border-radius: 50%;
      width: 100%;
      max-width: 50px;
      transition: all 400ms cubic-bezier(0.15, 0.11, 0.13, 1.42);
      transition-delay: 400ms;
      border: 3px solid $white;
      box-shadow: 1px 1px 2px rgba(black, 0.2);
    }
    .blue-person {
      transform: translate(-230%, -135%);
      transition-timing-function: ease-in-out;
    }
    .purple-person {
      transform: translate(230%, 0%);
      transition-timing-function: ease-in-out;
    }
    .green-person {
      transform: translate(-230%, 125%);
      transition-timing-function: ease-in-out;
    }
    .yellow-person {
      transform: translate(275%, 110%) scale(0);
      transition-delay: 1000ms;
    }
    .blue-edit,
    polygon.blue-edit,
    circle.blue-edit {
      fill: $brand2 !important;
    }
    .purple-edit {
      fill: $brand4;
    }
    .green-edit {
      fill: $brand3;
    }
  }
  .sign-document {
    filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.2));
    width: 100%;
    max-width: 70%;
    max-height: 70%;
    transition: all 1000ms cubic-bezier(0.15, 0.11, 0.13, 1.42);
    transition-delay: 400ms;
  }
  .animated-signature {
    position: absolute;
    max-height: 30px;
    transform: translate(-0%, 200%);
    transition: all 1200ms ease-in-out;
    transition-delay: 1200ms;
    opacity: 0;
    path {
      fill: $gray;
    }
  }

  &.active {
    .sign-document {
      transform: translateY(-30%) scale(1.3);
    }
    .blue-person {
      transform: translate(-275%, -400%);
    }
    .purple-person {
      transform: translate(275%, -160%);  
    }
    .green-person {
      transform: translate(-275%, 0%);  
    }
    .yellow-person {
      transform: translate(275%, 110%) scale(1);
    }
    .animated-signature {
      transform: translate(-0%, 200%);
      opacity: 1;
    }
  }
}

.animation-platform--store {
  .octiv-shell {
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    height: 169px;
    background-image: url(../img/octiv-shell.svg);
    background-repeat: no-repeat;
    background-color: lighten($mgray, 5%);
    box-shadow: 3px 3px 5px rgba(black, 0.2);
    transform: translateY(175%);
    transition: all 600ms cubic-bezier(0.15, 0.11, 0.13, 1.42);
  }
  .application-header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    content: url(../img/app-header.svg);
  }
  .repository-list {
    z-index: 0;
    position: absolute;
    left: 90px;
    top: 40px;
    right: 0px;
    height: 360px;
    background-image: url(../img/repository-list.svg);
    background-repeat: repeat-y;
  }

  &.active {
    .octiv-shell {
      transform: translateY(0);
    }
    .repository-list {
      animation-delay: 800ms;
      animation-duration: 4000ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      animation-name: infiniteScroll;
    }
  }
}

.animation-platform--analyze {
  .analyze-phone {
    width: 100%;
    max-width: 225px;
    transform: translateY(110%);
    transition: all 400ms cubic-bezier(0.15, 0.11, 0.13, 1.42);
  }
  .phone-notification {
    opacity: 0;
    transition: opacity 400ms ease-in-out;

  }

  &.active {

    .analyze-phone {
      transform: translateY(10%);   
    }
    .phone-notification {
      opacity: 1;
      transition-delay: 1000ms;
    }
  }
}

.animation-platform--manage {
  svg {
    width: 100%;
    max-width: 400px;
    path {
      fill: $lgray;
    }
    .manage--octiv-logo {
      fill: $brand;
    }
    .manage--create {
      fill: $brand5;
      transform-origin: center;
    }
    .manage--share {
      fill: $brand3;
      transform-origin: center;
    }
    .manage--sign {
      fill: $brand2;
      transform-origin: center;
    }
    .manage--store {
      fill: #7E7DE7;
      transform-origin: center;
    }
    .manage--analyze {
      fill: $brand4;
      transform-origin: center;
    }
    .manage--container {
      transform-origin: center;
    }
  }
}

