.single-integration main {
  padding-bottom: 0;
}

.single-integration .hero {
  text-shadow: none;
}

.single-integration .hero,
.single-integration .breadcrumbs {
  @include tablet {
    transform: translateY(-1.75rem);
  }
}

.plus-sign {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.hero-integration-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    flex: 1;
    max-width: 300px;
    border-radius: 3px;
    box-shadow: 3px 8px 15px rgba(black, 0.2);
    padding: 1rem;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
    @include tablet {
      padding: 2rem;
      margin-bottom: 0;
    }
    &.plus-sign {
      flex: 0;
      flex-basis: 50px;
      padding: 0;
      margin-bottom: 2rem;
      @include tablet {
        margin: 0 2rem;
      }
    }
  }
  @include tablet {
    flex-direction: row;
  }
}

.hero-integration-logo.light-callout {
  max-width: 200px;
  @include tablet {
    max-width: 300px;
  }
  border: 1px solid $mgray;
  background-color: $lgray;
  background-image: linear-gradient($white, $lgray);
  img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
  }
}

.single-integration main {
  @include tablet {
    padding-top: 2rem;
  }
}

.single-integration aside hr {
  margin: 0.25em 0 0.5em;
}

.single-integration aside ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.single-integration aside li {
  line-height: 1.2;
  margin-bottom: 0.25em;
}

.single-integration aside a {
  text-decoration: none;
  color: $gray;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    color: $brand;   
  }
}

.customer-success-thumbnails {
  list-style-type: none;
  padding-left: 0;
  img {
    width: 100%;
  }
}

.single-integration .related-integrations {
  margin-bottom: 5rem;
}

.single-integration .site-footer {
  margin-top: 0;
}

.single-integration #call-to-action form {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-basis: 100%;
    @include tablet {
      flex-basis: calc((100%/3) - 1.3334rem);
      margin-right: 2rem;
      margin-bottom: 0.5rem;
    }
    &:nth-child(3n) {
      margin-right: 0rem;
    }
  }
  label {
    margin-bottom: 0.25em;
  }
  input,
  select {
    color: $gray;
  }
  .mktoFieldWrap {
    display: block;
  }
  .mktoAsterix {
    color: $white;
  }
  .mktoFlexWrap {
    @include tablet {
      position: relative;
      top: 1em;
      .mktoFlexWrap {
        top: 0;
      }
    }
  }
  .mktoButtonRow {
    flex-basis: 100%;
  }
  .mktoButton {
    background-color: $brand2;
    color: $white;
    transition: all 200ms ease-in-out;
    &:hover,
    &:focus {
      background-color: darken($brand2, 15%);
    }
  }
}