.single-integration .hero {
  text-shadow: none;
}

.plus-sign {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.hero-integration-logo-container {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  > * {
    border-radius: 3px;
    box-shadow: 3px 8px 15px rgba(black, 0.2);
    padding: 1rem;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
    @include tablet {
      flex: 1;
      max-width: 300px;
      min-height: 165px;
      padding: 2rem;
      margin-bottom: 0;
    }
    &.plus-sign {
      min-height: auto;
      flex: 0;
      flex-basis: 50px;
      padding: 0;
      margin-bottom: 2rem;
      display: none;
      @include tablet {
        display: block;
        margin: 0 2rem;
      }
    }
  }
}

.hero-integration-logo.light-callout {
  padding: 3rem;
  position: relative;
  @include tablet {
    max-width: 300px;
  }
  border: 1px solid $mgray;
  background-color: $lgray;
  background-image: linear-gradient($white, $lgray);
  &:first-child {
    display: none;
    @include tablet {
      display: block;
    }
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
    max-width: 200px;
    max-height: 60px;
    width: 100%;
    @include tablet {
      max-height: 100px;
    }
  }
}

.single-integration--key-capabilities {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 0.9em;
    padding: 0 1rem;
  }

  .single-integration--icon-container {
    max-width: 100px;
    max-height: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem;
    border: 5px solid $white;
    background-color: $lgray;
    box-shadow: 3px 3px 15px rgba(black, 0.1);
    border-radius: 50%;
    padding: 10px;

    img {
      max-width: 55px;
      max-height: 55px;
    }

  }

}

.customer-success-thumbnails {
  list-style-type: none;
  padding-left: 0;
  img {
    width: 100%;
  }
}