.single-post-content .pad-r-most {
  @include bp-reverse(sm) {
    padding-right: 0;
  }
  @include bp-reverse(lg) {
    padding-right: 1rem;
  }
}

.single-post-sidebar .pad-l-most {
  @include bp-reverse(sm) {
    padding-left: 0rem;
  }
}

.single-post-content a,
.single-post-sidebar a {
  color: $brand;
  text-decoration: none !important;
  position: relative;
  border-bottom: 2px solid $brand;
  border-radius: 2px;
  &.btn-primary {
    color: $white;
  }
}

.post-author-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
    border: 1px solid $mgray;
    box-shadow: 2px 2p 6px rgba(black, 0.1);
    width: 100%;
    max-width: 85px;
  }
  .post-author-headshot-container {
    margin-right: 1rem;
  }
}

.single-post-sidebar {
  @include mobile {
    display: none;
  }
}

.single-post-sidebar-ad-container {
  padding: 2rem;
  background-color: $brand2;
  position: relative;
  overflow: hidden;
  z-index: 2;
  img {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 3px 3px 6px rgba(black, 0.65);
  }
  h5 {
    color: $white;
    font-size: 1.3em;
    line-height: 1.3;
  }
}

.post-author-bio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  @include tablet {
    flex-direction: row;
    text-align: left;
  }
  p {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    max-width: 125px;
    border-radius: 50%;
    border: 5px solid $white;
    box-shadow: 0 0 35px rgba(black, 0.2);
  }
  .post-author-bio-headshot {
    flex-shrink: 0;
    @include tablet {
      margin-right: 2rem;
    }
  }
}

.article-sharing-social-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0.25rem;
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 0.25em 1.25em;
    border: 1px solid $mgray;
    border-radius: 3px;
    background-color: $lgray;
    background-image: linear-gradient($white, $lgray);
    &:hover path {
      fill: $white;
    }
  }
  svg {
    padding-top: 5px;
    width: 100%;
    min-height: 25px;
    min-width: 25px;
    max-width: 25px;
    max-height: 25px;
    path {
      transition: all 200ms ease-in-out;
    }
  }
  .twitter-icon {
    path {
      fill: #00aced;
    }
    &:hover a {
      background-color: #00aced;
      background-image: linear-gradient(#00aced, #00aced);
      border-color: #00aced;
    }
  }
  .linkedin-icon {
    path {
      fill: #007bb6;
    }
    &:hover a {
      background-color: #007bb6;
      background-image: linear-gradient(#007bb6, #007bb6);
      border-color: #007bb6;
    }
  }
  .facebook-icon {
    path {
      fill: #3b5998;
    }
    &:hover a {
      background-color: #3b5998;
      background-image: linear-gradient(#3b5998, #3b5998);
      border-color: #3b5998;
    }
  }
}