.whitepaper-cover-container {
  perspective: 1000px;
  float: right;
  @include mobile {
    display: none;
  }
}

.whitepaper-cover {
  max-width: 300px;
  transform: rotateZ(5deg) rotateY(-25deg) translateX(5%) translateY(-4rem);
  box-shadow: 5px 5px 25px rgba(black, 0.15);
  @include fullhd {
    margin-left: 3rem;
    max-width: initial;
    transform: rotateZ(5deg) rotateY(-25deg) translateX(10%) translateY(-4rem);
  }
}

.single-library .notch {
  margin-bottom: 3rem;
}

.whitepaper-sneak-peek {
  padding-top: 3rem;
  margin-bottom: 3rem;

  .btn-dark--outline {
    padding: 0.25em 0.5em;
  }
}

.whitepaper-slider .slick-list {
  box-shadow: 0px 0px 25px rgba(black, 0.15);
  border: 1px solid $mgray;
  border-radius: 5px;
}

.whitepaper-slider img {
  display: block;
  width: initial;
  max-width: 100%;
}

.single-library .slick-dots {
  position: initial;
  transform: initial;
  button:before {
    color: $mgray;
  }
  .slick-active button:before {
    color: $brand; 
  }
}