/*
========================
COLORS
========================
*/
$brand: #ed4c06;
$brand2: #42b0d8;
$brand3: #33ab40;
$brand4: #b949f5;
$brand5: #fac500;
$gray: #2D3943;
$mgray: #d9d9d6;
$lgray: #f0f0f0;
$white: #fff;

/*
========================
BREAKPOINTS
========================
*/
$breakpoints: (
  xs: 0px,
  sm: 600px,
  md: 767px,
  lg: 1050px,
  xl: 1280px,
  xxl: 1440px
) !default;

/*
==============================
FONT STACK
==============================
*/
$brand-font-stack: 'Source Sans Pro', Helvetica, Arial, sans-serif;


/*
==============================
HAMBURGER VARIABLES
==============================
*/
$hamburger-padding-x: 10px !default;
$hamburger-padding-y: 10px !default;
$hamburger-layer-width: 30px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 5px !default;
$hamburger-layer-color: #000 !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-hover-transition-duration : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;

// Types (Remove or comment out what you don’t need)
$hamburger-types: (
  slider-r,
) !default;


@import '../../node_modules/bulma/sass/utilities/variables';


/*
==============================
BOOTSTRAP VARIABLES
==============================
*/
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_vendor-prefixes';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_opacity';
$zindex-modal: 101;
$zindex-modal-background: 100;
$modal-content-bg: $white;
$modal-content-fallback-border-color: $mgray;
$modal-content-border-color: $mgray;
$border-radius-large: 5px;
$modal-backdrop-bg: $gray;
$modal-backdrop-opacity: 0.8;
$modal-title-padding: 2rem 1rem;
$modal-header-border-color: $mgray;
$modal-title-line-height: 1;
$modal-inner-padding: 1rem;
$modal-footer-border-color: $mgray;
$screen-sm-min: 769px;
$screen-md-min: 1050px;
$modal-sm: 100px;
$modal-md: 769px;
$modal-lg: 960px;