input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
	width: 100%;
	padding: 0.5rem;
	border-radius: $radius;
	border: 1px solid #ccc;
	color: $gray;
}

input[type='submit'] {
	@extend .btn-primary;
	border: 0;
}

input[type='checkbox'] {
	margin-right: 0.5rem;
}

// support form specific
.fsOptionLabel {
	margin-right: 1rem;
}

select {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid $mgray;
	border-radius: $radius;
	background-color: $white;
	background-repeat: no-repeat;
	background-position: 95%;
	background-size: 20px;
	&.fancy {
		appearance: none;
		background-image: url(../dist/img/select-arrow.svg);
	}
}

.mktoLabel {
	display: block;
}

.mktoAsterix {
	display: inline-block;
	color: $brand;
	font-weight: bold;
	margin-right: 5px;
	[class*="callout"] & {
		color: $white;
	}
}

.mktoLabel {
	font-weight: bold;
	font-size: 0.85em;
}

.mktoError {
	top: -1rem !important;
	right: 0 !important;
	bottom: 0 !important;
  // position: absolute;
  // transform: translateY(-50%) translateX(5px);
  color: red;
  font-size: 0.85em;
  font-weight: bold;
	[class*="callout"] & {
		color: $gray;
	}
}

.mktoErrorDetail {
	font-style: italic;
}
