/*
==============================
PATTERN HERO STYLES
==============================
*/
.fixed-hero-section {
  background-color: $gray;
  background-image: url(../dist/img/octiv-pattern.svg);
  background-position: 60% 0%;
  background-attachment: fixed;
  background-size: 300px;
  transition: all 250ms ease-out;
  box-shadow: inset 0 0 50px rgba(black, 0.15);
  text-align: center;
  @include bp(md) {
    text-align: initial;
    box-shadow: inset 0 0 100px rgba(black, 0.2);
  }
}

.fixed-hero-section > .site-width {
  padding: 3rem 0 3rem;
}

/*
==============================
HOME PAGE SPECIFIC STYLES
==============================
*/
.home .fixed-hero-section {
  text-align: left;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 65% 20%;
  background-size: 1200px;
  background-attachment: initial;
  @include bp(md) {
    // height: 55vh;
    background-size: 1400px;
    background-position: 55% 0%;
  }
  @include bp(lg) {
    background-position: 50% 10%;
  }
  @include bp(xl) {
    background-position: 0 20%;
    background-size: 100%;
  }
}

.home .fixed-hero-section > .site-width {
  padding-top: 10%;
  @include bp(sm) {
    padding-top: 15%;
  }
  @include bp(md) {
    padding-top: 12%;
  }
  @include bp(lg) {
    padding-top: 7%;
  }
}

.home .hero-demo-button {
  margin-top: 1rem;
  @include bp(sm) {
    margin-top: 0;
  }
}

/*
==========================================
BLOG POST + INDUSTRY CONFERENCE STYLES
==========================================
*/
.single-post .fixed-hero-section {
  background-repeat: no-repeat;
  background-size: 110%;
  padding: 0 0;
  @include bp(md) {
    background-position: center;
    background-size: cover;
    padding: 6rem 0;
  }
}

.single-post .fixed-hero-section h1 {
  line-height: 1em;
}


/*
==============================
SUPPORT ARCHIVE OVERIDE
==============================
*/
.post-type-archive-support .fixed-hero-section {
  background-image: linear-gradient(rgba(black, 0.5), rgba(black, 0.5)), url(../dist/img/Hero-Support.jpg);
  background-size: cover;
  @include bp(md) {
    padding: 3rem 0;
  }
}

.post-type-archive-support .fixed-hero-section .half div {
    margin-bottom: 0;
}

.single-support .fixed-hero-section .two-third div {
    margin-bottom: 0;
}