table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

tr,
td,
th {
  border: 1px solid $mgray;
}

th,
td {
  padding: 1rem;
}

thead th {
	background-color: $brand;
	color: $white;
}

tbody tr:nth-child(2n) td {
	background-color: $lgray;
}

@media screen and (max-width: 767px) {
	thead {
    display: none;
  }
  tr {
    // border-bottom: 3px solid $brand;
    display: block;
  }
  td {
    // border-bottom: 1px solid #ddd;
    display: block;
    // text-align: left;
  }
  td:before {
    content: attr(aria-label);
    display: block;
    font-weight: bold;
  }
}