.page-template-company-page #site-footer .site-width:first-of-type {
	border: 0;
}

#leadership img,
#board-of-directors img {
	max-width: 165px;
	border-radius: 50%;
}

#leadership img[src*=".svg"],
#board-of-directors img[src*=".svg"] {
	max-width: 45px;
}