.page-template-company-page #site-footer .site-width:first-of-type {
	border: 0;
}

.page-template-company-page .video-outer {
	margin-bottom: 1rem;
	@media screen and (min-width: 769px) {
		margin-bottom: 0;
	}
}

.page-template-company-page .video-inner iframe {
	box-shadow: 0 0 35px rgba(0,0,0,0.1);
}

#leadership img,
#board-of-directors img {
	max-width: 165px;
	border-radius: 50%;
}

#leadership img[src*=".svg"],
#board-of-directors img[src*=".svg"] {
	max-width: 45px;
}