header {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	align-items: center;
	position: relative;
	> div:last-child {
		flex: 1;
	}
}

.logo-container {
	padding: 2rem 0;
}

#site-logo {
	width: 100%;
	max-width: 145px;
	transition: all 200ms ease-out;
	@include bp(sm) {
		max-width: 185px;
	}
}

.site-navigation-container {
	display: flex;
	justify-content: flex-end;
	.menu-open & {
		background: $white;
		position: absolute;
		top: 100%;
		left: -1rem;
		right: -1rem;
		padding: 0 1rem 2rem;
		justify-content: center;
		@include bp(sm) {
			left: -2rem;
			right: -2rem;
			padding: 0 2rem 2rem;
		}
		@include bp(md) {

		}
		@include bp(lg) {
			justify-content: flex-end;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			padding: 0;
		}
	}
}

.site-navigation-container ul {
	list-style-type: none;
	padding: 0;
	display: none;
	@include bp(lg) {
		display: flex;
	}
}

.menu-open .site-navigation-container ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	&.sub-menu {
		display: none;
		@include bp(md) {
			display: initial;
		}
	}
}

#menu-toggle {
	display: initial;
	color: $white;
	background-color: $brand;
	padding: 0.5rem 1rem;
	border-radius: $radius;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	@include bp(lg) {
		display: none;
	}
}

.site-navigation-container li {
	flex-basis: 50%;
	@include bp(md) {
		flex-basis: initial;
	}
}

.site-navigation-container li a {
	color: $gray;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	// transition: all 250ms ease-out;
	display: block;
	text-align: center;
	&:hover, &:focus {
		outline: none;
		color: $white;
		background-color: $brand;
	}
}

.site-navigation-container nav > ul li:last-child a {
	@include bp(lg) {
		background-color: $brand;
		color: $white;
	}
}

.site-navigation-container .sub-menu {
	display: none;
	position: absolute;
	background-color: $white;
	border-radius: $radius;
	border: 1px solid $mgray;
	box-shadow: 0 5px 20px rgba(black, 0.35);
	padding: 0;
	z-index: 1000;
}

.sub-menu-item {
	padding-bottom: 0;
}

.sub-menu-item a {
	text-align: center;
	border-radius: 0 !important;
	background-color: transparent !important;
	color: $gray !important;
	@include bp(sm) {
		border-bottom: 1px solid $mgray;
		text-align: left !important;
	}
	&:hover, &:focus {
		background-color: $brand !important;
		color: $white !important;
	}
}

.sub-menu-item:first-child:hover a {
	border-radius: $radius $radius 0 0 !important;
}

.sub-menu-item:last-child:hover a {
	border-radius: 0 0 $radius $radius !important;
}

.sub-menu-item:last-child a {
	border-bottom: 0;
}
