header {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	align-items: center;
	position: relative;
	> div:last-child {
		flex: 1;
	}
}

#site-logo {
	width: 100%;
	padding: 2rem 0;
	max-width: 145px;
	transition: all 200ms ease-out;
	@include bp(sm) {
		max-width: 185px;
	}
}

.site-navigation-container {
	display: flex;
	justify-content: flex-end;
	.menu-open & {
		background: $white;
		position: absolute;
		top: 100%;
		left: -1rem;
		right: -1rem;
		padding: 0 1rem 2rem;
		justify-content: center;
		@include bp(sm) {
			left: -2rem;
			right: -2rem;
			padding: 0 2rem 2rem;
		}
		@include bp(md) {

		}
		@include bp(lg) {
			justify-content: flex-end;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			padding: 0;
		}
	}
}

.site-navigation-container ul {
	list-style-type: none;
	padding: 0;
	display: none;
	@include bp(lg) {
		display: flex;
	}
}

.menu-open .site-navigation-container ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#menu-toggle {
	display: initial;
	color: $white;
	background-color: $brand;
	padding: 0.5rem 1rem;
	border-radius: $radius;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	@include bp(lg) {
		display: none;
	}
}

.site-navigation-container li {
	flex-basis: 50%;
	@include bp(md) {
		flex-basis: initial;
	}
}

.site-navigation-container li a {
	color: $gray;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	// transition: all 250ms ease-out;
	display: block;
	text-align: center;
	&:hover, &:focus {
		outline: none;
		color: $white;
		background-color: $brand;
	}
}

.site-navigation-container nav > ul li:last-child a {
	@include bp(lg) {
		background-color: $brand;
		color: $white;
	}
}

.site-navigation-container .sub-menu {
	display: none;
	position: absolute;
	background-color: $white;
	box-shadow: 0 0 15px rgba(black, 0.2);
	padding: 0;
	z-index: 1000;
}

.sub-menu-item a {
	text-align: center;
	border-radius: 0 !important;
	background-color: transparent !important;
	color: $gray !important;
	@include bp(sm) {
		border-bottom: 1px solid $mgray;
		text-align: left !important;
	}
	&:hover {
		background-color: $brand !important;
		color: $white !important;
	}
}

.sub-menu-item:last-child a {
	border-bottom: 0;
}

// main:before {
// 	transition: all 200ms ease-out;
// }
//
// .menu-open main:before {
// 	content: '';
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-color: #fff;
//   z-index: 4;
// 	@include bp(xl) {
// 		background-color: #000;
// 	  opacity: 0.65;
// 	}
// }
//
// header {
// 	display: flex;
// 	align-items: flex-start;
// 	flex-direction: column;
// 	position: relative;
// 	> div:last-child {
// 		flex: 1;
// 	}
// 	@include bp(xl) {
// 		flex-direction: row;
// 		align-items: center;
// 		position: initial;
// 	}
// }
//
// header button {
// 	font-size: 1.15em;
// 	padding: 0.5rem 1rem;
// 	transition: all 200ms ease-out;
// 	&:focus, &.active, &#menu-toggle {
// 		outline: 0;
// 		background-color: $brand;
// 		color: $white;
// 	}
// 	@include bp(xl) {
// 		border-radius: $radius;
// 	}
// 	.menu-open & {
// 		width: 100%;
// 		@include bp(sm) {
// 			width: auto;
// 			padding-left: 4rem;
// 			padding-right: 6rem;
// 			margin-left: -3rem;
// 		}
// 		@include bp(lg) {
// 			padding-right: 4rem;
// 		}
// 		@include bp(xl) {
// 			padding: 0.5rem 1rem;
// 			margin: initial;
// 		}
// 	}
// }
//
// #menu-toggle {
// 	position: absolute;
//   right: 0;
//   transform: translateX(-1rem) translateY(calc(-100% - 2rem));
// 	border-radius: $radius;
// 	width: auto;
// 	@include bp(sm) {
// 		transform: translateX(-2rem) translateY(calc(-100% - 2rem));
// 	}
// 	@include bp(lg) {
// 		transform: translateX(-4rem) translateY(calc(-100% - 2rem));
// 	}
// 	@include bp(xl) {
// 		display: none;
// 	}
// 	.menu-open & {
// 		padding: 0.5rem 1rem;
// 	}
// }
//
// #site-logo {
// 	width: 100%;
// 	padding: 2rem 0;
// 	max-width: 145px;
// 	transition: all 200ms ease-out;
// 	@include bp(sm) {
// 		max-width: 185px;
// 	}
// }
//
// .site-navigation-container {
// 	position: relative;
// 	width: calc(100% + 2rem);
// 	transform: translateX(-1rem);
// 	border-top: 1px solid $mgray;
// 	@include bp(sm) {
// 		width: calc(100% + 4rem);
// 		transform: translateX(-2rem);
// 	}
// 	@include bp(lg) {
// 		width: calc(100% + 8rem);
// 	  transform: translateX(-4rem);
// 	}
// 	@include bp(xl) {
// 		width: 100%;
// 		transform: translateX(0);
// 		border-top: 0;
// 	}
// 	.menu-open & {
// 		position: relative;
//     transform: translate(-1rem, 0px);
//     background: white;
//     z-index: 12;
// 		@include bp(sm) {
// 			transform: translate(-2rem, 0px);
// 		}
// 		@include bp(lg) {
// 			transform: translate(-4rem, 0px);
// 		}
// 		@include bp(xl) {
// 			position: initial;
// 			transform: none;
// 		}
// 	}
// }
//
// .site-navigation-container h2 {
// 	text-transform: none;
// }
//
// .site-navigation-container p a {
// 	color: $gray;
// 	transition: all 200ms ease-out;
// 	box-shadow: inset 0 -2px 0 $brand2;
// 	&:hover {
// 		color: $white;
// 		box-shadow: inset 0 -28px 0 $brand2;
// 	}
// 	&:nth-child(2) {
// 		box-shadow: inset 0 -2px 0 $brand3;
// 		&:hover {
// 			box-shadow: inset 0 -28px 0 $brand3;
// 		}
// 	}
// 	&:nth-child(3) {
// 		box-shadow: inset 0 -2px 0 $brand4;
// 		&:hover {
// 			box-shadow: inset 0 -28px 0 $brand4;
// 		}
// 	}
// 	&:nth-child(4) {
// 		box-shadow: inset 0 -2px 0 $brand;
// 		&:hover {
// 			box-shadow: inset 0 -28px 0 $brand;
// 		}
// 	}
// 	&:nth-child(5) {
// 		box-shadow: inset 0 -2px 0 $brand5;
// 		&:hover {
// 			box-shadow: inset 0 -28px 0 $brand5;
// 		}
// 	}
// }
//
// .site-navigation-container nav {
// 	display: none;
// 	.menu-open & {
// 		display: block;
// 	}
// 	@include bp(xl) {
// 		display: block;
// 	}
// }
//
// .site-navigation-container nav > ul {
// 	list-style-type: none;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	padding-left: 0;
// 	max-width: calc(100% - 2rem);
// 	margin-left: auto;
// 	margin-right: auto;
// 	@include bp(sm) {
// 		max-width: calc(100% - 4rem);
// 	}
// 	@include bp(md) {
// 		align-items: flex-start;
// 		max-width: calc(100% - 2rem);
// 	}
// 	@include bp(lg) {
// 		max-width: calc(100% - 6rem);
// 	}
// 	@include bp(xl) {
// 		flex-direction: row;
// 		justify-content: flex-end;
// 		max-width: initial;
// 		margin-left: initial;
// 		margin-right: initial;
// 	}
// 	.menu-open & {
// 		min-height: 100vh;
// 		justify-content: flex-start;
// 		@include bp(xl) {
// 			min-height: auto;
// 			justify-content: flex-end;
// 		}
// 	}
// }
//
// .site-navigation-container nav > ul > li {
// 	display: block;
// 	width: calc(100% + 2rem);
// 	@include bp(xl) {
// 		width: auto;
// 	}
// }
//
// .site-navigation-container .callout {
// 	display: none;
// 	padding: 2rem 0 0;
// 	@include bp(xl) {
// 		box-shadow: 0 20px 50px rgba(black, 0.35);
// 	}
// 	.menu-open &.active {
// 		display: block;
// 		@include bp(sm) {
// 			width: 100%;
// 	    position: fixed;
// 	    top: 0;
// 	    left: 0;
// 	    right: 0;
// 	    transform: translateX(12rem);
// 	    min-height: 100vh;
// 	    border-left: 1px solid $mgray;
// 		}
// 		@include bp(xl) {
// 			position: absolute;
// 			transform: translateY(162px);
// 	    min-height: auto;
// 	    border-left: 0;
// 			border-top: 1px solid $mgray;
// 		}
// 	}
// }
//
// .site-navigation-container .callout .site-width {
// 	@include bp(sm) {
// 		width: calc(100% - 16rem);
// 		margin-left: 2rem;
// 	}
// 	@include bp(xl) {
// 		width: calc(100% - 8rem);
// 		margin-left: auto;
// 	}
// }
//
// .site-navigation-container .callout .half {
// 	> div {
// 		width: 100%;
// 		@include bp(lg) {
// 			width: calc(50% - 1rem);
// 		}
// 	}
// }
//
// .site-navigation-container .callout .fourth {
// 	> div {
// 		width: 100%;
// 		margin-right: 0;
// 		@include bp(md) {
// 			width: calc(50% - 1rem);
// 			margin-right: 2rem;
// 			&:nth-child(2n) {
// 				margin-right: 0;
// 			}
// 		}
// 		@include bp(xl) {
// 			width: calc((100% / 4) - 1.5rem);
// 			margin-right: 2rem;
// 			&:nth-child(2n) {
// 				margin-right: 2rem;
// 			}
// 			&:nth-child(4n) {
// 				margin-right: 0;
// 			}
// 		}
// 	}
// }
//
// .site-navigation-container .callout .sixth {
// 	> div {
// 		width: calc(50% - 1rem);
// 		margin-right: 2rem;
// 		&:nth-child(2n) {
// 			margin-right: 0;
// 		}
// 		@include bp(lg) {
// 			width: calc((100% / 3) - 1.3333rem);
// 			margin-right: 2rem;
// 			&:nth-child(2n) {
// 				margin-right: 2rem;
// 			}
// 			&:nth-child(3n) {
// 				margin-right: 0;
// 			}
// 		}
// 		@include bp(xl) {
// 			width: calc((100% / 6) - 1.7rem);
// 			margin-right: 2rem;
// 			&:nth-child(2n),
// 			&:nth-child(3n) {
// 				margin-right: 2rem;
// 			}
// 			&:nth-child(6n) {
// 				margin-right: 0;
// 			}
// 		}
// 		svg {
// 			fill: $brand2;
// 			max-width: 115px;
// 		}
// 		&:first-child {
// 			svg {
// 				max-width: 90px;
// 			}
// 		}
// 		&:nth-child(2) {
// 			svg {
// 				fill: $brand3;
// 			}
// 			a {
// 				box-shadow: inset 0 -2px 0 $brand3;
// 				&:hover {
// 					box-shadow: inset 0 -28px 0 $brand3;
// 				}
// 			}
// 		}
// 		&:nth-child(3) {
// 			svg {
// 				fill: $brand4;
// 				max-width: 105px;
// 			}
// 			a {
// 				box-shadow: inset 0 -2px 0 $brand4;
// 				&:hover {
// 					box-shadow: inset 0 -28px 0 $brand4;
// 				}
// 			}
// 		}
// 		&:nth-child(4) {
// 			svg {
// 				fill: $brand;
// 			}
// 			a {
// 				box-shadow: inset 0 -2px 0 $brand;
// 				&:hover {
// 					box-shadow: inset 0 -28px 0 $brand;
// 				}
// 			}
// 		}
// 		&:nth-child(5) {
// 			svg {
// 				fill: $brand5;
// 				max-width: 70px;
// 			}
// 			a {
// 				box-shadow: inset 0 -2px 0 $brand5;
// 				&:hover {
// 					box-shadow: inset 0 -28px 0 $brand5;
// 				}
// 			}
// 		}
// 	}
// }
//
// .site-navigation-container svg {
// 	fill: $brand;
// 	display: block;
// 	margin: 0 auto;
// 	width: 100%;
// 	max-width: 100px;
// }
//
// .site-navigation-container .brand-two-callout {
// 	padding: 2rem 0;
// }
//
// .site-navigation-container .slick-slide {
// 	margin-top: 1rem;
// 	padding: 1rem 2rem;
// 	transition: all 200ms ease-out;
// 	border-radius: $radius;
// 	max-width: 300px;
// 	text-align: center;
// 	&:hover {
// 		background-color: #fff;
// 		svg {
// 			fill: $brand2;
// 		}
// 		a {
// 			color: $brand2;
// 		}
// 	}
// 	svg {
// 		transition: all 200ms ease-out;
// 		max-width: 65px;
// 		max-height: 65px;
// 		margin: 0 auto;
// 		fill: $white;
// 		display: block;
// 	}
// 	a {
// 		transition: all 200ms ease-out;
// 		color: $white;
// 	}
// }
//
// .nav-resources li {
// 	display: flex;
// 	div a {
// 		box-shadow: inset 0 -2px 0 $brand3;
// 		&:hover {
// 			box-shadow: inset 0 -28px 0 $brand3;
// 		}
// 	}
// 	&:nth-child(2) div a {
// 		box-shadow: inset 0 -2px 0 $brand4;
// 		&:hover {
// 			box-shadow: inset 0 -28px 0 $brand4;
// 		}
// 	}
// 	&:nth-child(3) div a {
// 		box-shadow: inset 0 -2px 0 $brand2;
// 		&:hover {
// 			box-shadow: inset 0 -28px 0 $brand2;
// 		}
// 	}
// 	&:nth-child(4) div a {
// 		box-shadow: inset 0 -2px 0 $brand;
// 		&:hover {
// 			box-shadow: inset 0 -28px 0 $brand;
// 		}
// 	}
// }
//
// li.nav-event {
// 	display: flex;
// 	margin-bottom: 1rem;
// 	div {
// 		line-height: 1.2;
// 	}
// }
//
// li div.nav-event-date {
// 	opacity: 0.5;
// 	width: 50px;
// 	font-size: 1.3em;
// 	line-height: 0.9;
// 	margin-right: 0.5rem;
// 	text-transform: uppercase;
// }
//
// .nav-resources li span {
// 	flex-shrink: 0;
// 	max-width: 20px;
// 	max-height: 20px;
// 	margin-right: 0.5rem;
// 	margin-top: 0.25rem;
// }
//
// .nav-resources svg {
// 	max-width: 20px;
// 	max-height: 20px;
// }
//
// .nav-resources .blog-icon {
// 	fill: $brand3;
// }
//
// .nav-resources .client-story-icon {
// 	fill: $brand4;
// }
//
// .nav-resources .webinar-icon {
// 	fill: $brand2;
// }
//
// #nav-solution + .callout .fourth p {
// 	font-size: 0.9em;
// }
