.typed-cursor{
  display: inline-block;
  margin-left: 0.5rem;
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}


@keyframes rotateClockwise {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotateClockwise {
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-name: rotateClockwise;
  animation-iteration-count: infinite;
}

@keyframes rotateCounterClockwise {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

.rotateCounterClockwise {
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-name: rotateCounterClockwise;
  animation-iteration-count: infinite;
}

@keyframes infiniteScroll {
  from {
    transform: translate(-40%, -25%);
    // opacity: 0;
  }
  to {
    transform: translate(-40%, -75%); 
    // opacity: 1;
  }
}

@keyframes wiggleGrow {
  0% {
    transform: translate(-50%, -50%) scaleX(1)
  }

  5%,10% {
    transform: translate(-50%, -50%) scale3d(.9,.9,.9) rotate(-3deg)
  }

  15%,25%,35%,45% {
    transform: translate(-50%, -50%) scale3d(1.1,1.1,1.1) rotate(3deg)
  }

  20%,30%,40% {
    transform: translate(-50%, -50%) scale3d(1.1,1.1,1.1) rotate(-3deg)
  }

  50% {
    transform: translate(-50%, -50%) scaleX(1)
  }

  to {
    transform: translate(-50%, -50%) scaleX(1)
  }
}

@keyframes flyInOut {
  0% {
    transform: translate(-50%, 200px);
  }
  10%, 33.3334% {
    transform: translate(-50%, -200px); 
  }
  50% {
    transform: translate(-50%, -600px); 
  }
  100% {
    
  }
}