.typed-cursor{
  display: inline-block;
  margin-left: 0.5rem;
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}


@keyframes rotateClockwise {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotateClockwise {
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-name: rotateClockwise;
  animation-iteration-count: infinite;
}

@keyframes rotateCounterClockwise {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

.rotateCounterClockwise {
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-name: rotateCounterClockwise;
  animation-iteration-count: infinite;
}