.light-callout {
  background-color: $lgray;
  background-image: linear-gradient($white,rgba(black, 0.1));
}

.brand-callout {
  background-color: $brand;
  * {
    color: $white;
  }
  a[href*="tel"] {
    color: $white; 
  }
  .btn-primary {
    color: $brand;
    background-color: $white;
  }
}

.pattern-callout {
  background-color: darken($lgray, 3%);
  background-image: linear-gradient(rgba(darken($lgray, 3%), 0.4), rgba(darken($lgray, 3%), 0.4)), url(../img/octiv-pattern--dark.svg);
  background-size: 300px;
}