@mixin card-tag($color) {
  background-color: $color;
  border-radius: 3px;
  display: inline-block;
  font-size: 0.7em;
  padding: 0.35em 0.35em 0.25em;
  line-height: 1;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.card {
  background-color: $white;
  position: relative;
  border: 1px solid $mgray;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(black, 0.1);
  padding: 1rem;
  transition: all 300ms ease-in-out;
  a {
    text-decoration: none;
    color: $gray;
  }
  h4 {
    line-height: 1.1;
    margin-bottom: 0.25em;
  }
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(black,0) 60%, rgba(black,0.8));
    color: $white;
    &:after {
      content: 'Past Event';
      position: absolute;
      font-size: 1.4em;
      text-shadow: 3px 3px 5px rgba(black, 0.7);
      left: 1rem;
      bottom: 0.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .card-image {
    position: relative;
    top: -1rem;
    left: -1rem;
    width: calc(100% + 2rem);
    display: block;
    padding: 62.95% 0 0;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 50px rgba(black, 0.5);
  }
  .card-tag--brand-two {
    @include card-tag($brand2);
  }
  .card-tag--brand-three {
    @include card-tag($brand3);
  }
  .card-tag--brand-four {
    @include card-tag($brand4);
  }
  .card-tag--brand-five {
    @include card-tag($brand5);
  }
  .card-description {
    font-size: 0.85em;
  }
  // &.is-faded {
  //   opacity: 0.4;
  //   // z-index: -1;
  // }
  // &.is-hovered {
  //   transform: scale(1.03);
  //   box-shadow: 4px 4px 6px rgba(black, 0.1);
  // }
}

.sidebar-card {
  display: flex;

  .card-image {
    padding: 0;
    max-width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .card-content {
    position: relative;
    left: 100px;
    width: calc(100% - 100px);
  }
}