.eyebrow {
  background-color: $gray;
  font-size: 0.85em;
  color: $white;
  position: relative;
  z-index: 2;
  a {
    display: inline-block;
    color: $white;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  ul {
    margin-bottom: 0;
  }
}

.eyebrow-quick-links ul {
  list-style-type: none;
  display: table;
  display: flex;
  justify-content: flex-end;
  li {
    display: table-cell;
    &:after {
      content: '|';
      display: inline-block;
      margin: 0 0.5rem;
    }
    &:last-child:after {
      display: none;
    }
  }
}