input {
  font-family: $brand-font-stack;
  font-size: 1rem;
  color: $gray !important;
  background-color: $lgray;
  border: 1px solid $mgray;
  border-radius: 3px;
  padding: 0.25em !important;
  box-shadow: inset 0 0 0 $brand;
  transition: all 200ms ease-in-out;
  &:focus,
  &:active {
    outline: none;
    box-shadow: inset 0 -2px 0 $brand;
  }
}

select {
  color: $gray !important;
  width: 100%;
  background-color: $lgray;
  border: 1px solid $mgray;
  font-family: $brand-font-stack;
  padding: 0.25em !important; 
  appearance: none;
  background-image: url(../img/select-arrow.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5em) 50%;
  box-shadow: inset 0 0 0 $brand;
  transition: all 200ms ease-in-out;
  &:focus,
  &:active {
    outline: none;
    box-shadow: inset 0 -2px 0 $brand;
  }
}

input[type="checkbox"] {
  box-shadow: none;
  &:focus,
  &:active {
    box-shadow: none;
  }
}

input.text-search-bar {
  cursor: pointer;
  display: block;
  margin-bottom: 2rem;
  padding: 0.5rem !important;
  width: 100%;
  font-size: 1rem;
  background-color: $white;
  background-image: url(../img/search-icon--dark.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5em) 50%;
  @include tablet {
    padding: 1rem !important;
  }
}

// .fancy-text-input {
//   position: relative;

//   label {
//     position: absolute;
//     top: 50%;
//     left: 0.5rem;
//     transform: translateY(-50%);
//   }

//   input {
//     cursor: pointer;
//     &:focus + label {
//       transform: translateY(-100%) scale(0.75);
//     }
//   }

// }


/*
==============================
MARKETO OVERRIDES
==============================
*/
.mktoForm {
  font-size: 1rem !important;
  color: $gray !important;
}

.mktoHasWidth {
  width: 100% !important;
}

.mktoOffset,
.mktoGutter {
  display: none;
}

.mktoForm .mktoFormCol {
  width: 100% !important;
  margin-bottom: 0 !important;
  margin-bottom: 0.5em !important;
}

.mktoForm .mktoFieldWrap {
  float: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  @include bp(sm) {
    flex-direction: row;
  }
  label,
  input,
  select {
    flex: 1;
  }
  input,
  select {
    flex-grow: 2;
  }
}

.mktoLabel {
  display: flex;
  font-size: 0.85em;
  font-weight: normal !important;
}

.mktoForm .mktoAsterix {
  padding-left: 0 !important;
  padding-right: 0.25em;
}

.mktoCheckboxList {
  order: -1;
  flex: 0;
}

.mktoFieldWrap.mktoFlexWrap {
  display: flex !important;
  flex-direction: row;
}

.mktoButtonRow {
  display: block !important;
}

.mktoButtonWrap {
  margin-left: 0 !important;
  display: block;
  text-align: center !important;
}

/*
==============================
SUPPORT FORM STYLES
==============================
*/
.support-form {
  input:not([type="submit"]),
  textarea {
    border: 1px solid $mgray;
    background-color: $white;
    // box-shadow: 2px 2px 5px rgba(black, 0.05);
  }
  input:not([type="checkbox"]),
  textarea {
    border-radius: 5px;
    width: 100%;
  }
  input[type="file"] {
    line-height: 1;
    display: block;
    padding: 1rem !important;
    border: 1px solid darken($mgray, 10%);
    background-color: transparent;
  }
  input[type="submit"] {
    color: $white !important;
    padding: 0.5rem 1rem !important;
  }
  textarea {
    font-family: $brand-font-stack;
    font-size: 1rem;
    &:focus,
    &:active {
      outline: none;
      box-shadow: inset 0 -2px 0 $brand;
    }
  }
  .half,
  .third,
  .fourth {
    grid-row-gap: 1rem;
  }
}

.fsHidden {
  display: none;
}