.site-header-menu-open {
  overflow: hidden;
}

.site-header {
  background-color: $white;
  position: relative;
  z-index: 3;
  box-shadow: 3px 5px 10px rgba(black, 0.2);
  .site-header-fixed & {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
  }
  .site-header-fixed.site-header-menu-open & {
    overflow: auto;
    bottom: 0;
    @include desktop {
      overflow: auto;
      bottom: auto;
    }
  }
}

.site-header-top-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-header-logo {
  width: 100%;
  max-width: 150px;
  padding: 1rem 0;
  @include desktop {
    max-width: 185px;
    padding: 0;
  }
}

.site-header-nav-container {
  transform: translateY(-100%);
  flex-grow: 2;
  z-index: -1;
  opacity: 0;
  position: absolute;
  background-color: transparent;
  top: 4.1rem;
  left: 0;
  width: 100%;
  transition: all 300ms ease-in-out;
  border-top: 1px solid $mgray;
  @include desktop {
    border-top: 0;
    z-index: auto;
    transform: translateY(0);
    opacity: 1;
    position: relative;
    background-color: transparent;
    top: auto;
    left: auto;
    width: auto;
  }

  .site-header-menu-open & {
    transform: translateY(0);
    opacity: 1;
    background-color: $white;
  }
}

.site-header-rad-container {
  display: none;
  @include desktop {
    display: block;
  }
}

.site-header-menu-toggle {
  @include desktop {
    display: none;
  }  
}

.top-level-navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
  @include desktop {
    margin-right: 1rem;
    flex-direction: row;
  }

  > li {
    @include desktop {
      // margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      &:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    a {
      display: block;
      padding: 1rem;
      text-decoration: none;
      transition: all 200ms ease-in-out;
      @include desktop {
        padding: 2rem 1rem;
        color: $gray;
        &:hover,
        &:focus {
          color: $white;
          outline: none;
          color: $white;
          background-color: $brand2;
        }
      }
    }

    &:nth-child(2) {
      @include desktop {
        background-color: initial;
        a {
          color: $gray;
          &:hover,
          &:focus {
            color: $white;
            background-color: $brand3;
          }
        }
      }
    }

    &:nth-child(3) {
      @include desktop {
        background-color: initial;
        a {
          color: $gray;
          &:hover,
          &:focus {
            color: $white;
            background-color: $brand4;
          }
        }
      }
    }

    &:nth-child(4) {
      @include desktop {
        background-color: initial;
        a {
          color: $gray;
          &:hover,
          &:focus {
            color: $white;
            background-color: $brand5;
          }
        }
      }
    }

  }
}

.site-header .sub-menu {
  @include desktop {
    min-width: 200px;
    z-index: -5;
  }
  position: fixed;
  transition: all 200ms ease-in-out;
  list-style-type: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  background-color: $gray;
  a {
    padding: 0.5rem 0 !important;
    color: $white !important;
    border-bottom: 1px solid lighten($gray, 20%);
    margin-left: 1rem;
    margin-right: 1rem;
    @include desktop {
      border-bottom: 0;
      padding: 0.5rem 1rem !important;
      margin-left: 0;
      margin-right: 0;
      width: calc(100% + 2rem);
      position: relative;
      left: -1rem;
    }
  }
  li {
    @include desktop {
      border-bottom: 1px solid lighten($gray, 20%);
      margin-left: 1rem;
      margin-right: 1rem;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  li:first-child {
    padding-top: 1rem;
  }
  li:last-child {
    padding-bottom: 1rem;
    @include desktop {
      padding-bottom: 0;
    }
    a {
      border-bottom: 0;
    }
  }
}

.sub-menu-active .sub-menu {
  opacity: 1;
  visibility: visible;
  position: relative;
  @include desktop {
    opacity: 0;
    visibility: visible;
    position: absolute;
  }
}

.site-header-mobile-only {
  @include desktop {
    display: none;
  }
}