.hero {
  background-color: $gray;
  background-size: cover;
  background-position: center;
  padding: 3rem 0;
  @include tablet {
    padding: 6rem 0;
  }
  text-align: center; 
  color: $white;
  text-shadow: 2px 2px 3px rgba(black, 0.8);
  *[class*="btn"] {
    text-shadow: none;
  }
  h2 {
    font-weight: normal;
    @include bp(md) {
      max-width: 75%;
      margin: 0 auto;
    }
  }
}

.single-post .hero {
  padding: 3rem 0;
  @include bp(md) {
    padding: 6rem 0;
  }
  h2 {
    @include bp(sm) {
      font-size: 1.2em;
    }
  }
  p {
    margin-bottom: 0;
  }
}