.hero {
  background-color: $gray;
  background-size: cover, cover, 300px, cover;
  background-position: center;
  padding: 3rem 0;
  text-align: center; 
  color: $white;
  text-shadow: 2px 2px 3px rgba(black, 0.8);
  *[class*="btn"] {
    text-shadow: none;
  }
  h2 {
    text-transform: none;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.3;
    @include tablet {
      font-size: 1.4em;
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  [class*='color-box-subheadline'] {
    font-size: 1.25em;
  }
}

.home .hero {
  padding: 0;
  .slide {
    background-size: cover;
    padding: 3rem 0 6rem;
  }
  h2 {
    margin-bottom: 1em;
  }
}

.single-post .hero {
  padding: 3rem 0;
  @include bp(md) {
    padding: 6rem 0;
  }
  h2 {
    @include mobile {
      font-size: 1.2em;
    }
  }
}

.single-library .hero {
  padding: 3rem 0 6rem;
}