.promoted-item {
  text-align: center;
  padding: 2rem;
  background-size: cover, 300px, cover;
  background-position: center;
  background-image: linear-gradient(135deg, transparentize($brand5, 0.5), transparentize($brand4, 0.5)), url(../img/octiv-pattern.svg), linear-gradient(135deg, $brand5, $brand4);
  color: $white;
  &:nth-child(2) {
    background-image: linear-gradient(135deg, transparentize($brand4, 0.5), transparentize($brand, 0.5)), url(../img/octiv-pattern.svg), linear-gradient(135deg, $brand4, $brand);
  }
  &:nth-child(3) {
    background-image: linear-gradient(135deg, transparentize($brand, 0.5), transparentize($brand5, 0.5)), url(../img/octiv-pattern.svg), linear-gradient(135deg, $brand, $brand5);
  }
  p {
    text-shadow: 2px 2px 3px rgba(black, 0.35);
    font-size: 1.25em;
  }
  .promoted-item-company-logo {
    filter: grayscale(1) invert(1) brightness(300%) drop-shadow(3px 3px 2px rgba(black, 0.5));
  }
  .person-headshot {
    display: inline-block;
  }
}