table {
  width: 100%;
  border: 1px solid $mgray;
  box-shadow: 2px 5px 15px rgba(black, 0.08);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

th,
td {
  padding: 0.5rem;
}

th {
  padding: 1rem;
  background-color: $brand;
  color: $white;
  font-weight: bold;
  border-right: 1px solid $white;
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    border-right: 0;
  }
}

td {
  font-size: 0.85em;
  vertical-align: middle;
  border-right: 1px solid $mgray;
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    border-right: 0;
  }  
}

tr:nth-child(2n) td {
  background-color: $lgray;
  border-top: 1px solid $mgray;
  border-bottom: 1px solid $mgray;
}