button {
  cursor: pointer;
  font-family: $brand-font-stack;
  font-size: 1rem;
  border: transparent;
  border-radius: 3px;
  background-color: transparent;
}

.btn-primary,
.mktoButton {
  background-color: $brand;
  border-radius: 3px;
  color: $white;
  padding: 0.5em 1em;
  transition: all 200ms ease-in-out;
  width: 100%;
  text-decoration: none;
  @include bp(sm) {
    width: initial;
  }
  &:hover,
  &:focus {
    outline: none;
    background-color: darken($brand, 10%);
  }
}

.btn-arrow {
  position: relative;
  font-weight: bold;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  display: inline-block;
  z-index: 1;
  .arrow {
    display: inline-block;
    margin-left: 0.5em;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: -1rem;
    bottom: 0;
    transform: translateY(calc(100% - 2px));
    background-color: $brand2;
    transition: all 200ms ease-in-out;
  }
  &:after {
    content: '>';
    position: absolute;
    top: 50%;
    left: calc(100% + 0.5em);
    transform: translateY(-50%);
  }
  &:hover,
  &:focus {
    color: $white;
    &:before {
      transform: translateY(0);
    }
  }
}

.btn-white--outline {
  text-decoration: none;
  padding: 0.5em 1em;
  border: 1px solid $white;
  border-radius: 3px;
  color: $white;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    background-color: $white;
    color: $gray;
  }
}

.btn-dark--outline {
  text-decoration: none;
  padding: 0.5em 1em;
  border: 1px solid $gray;
  border-radius: 3px;
  color: $gray;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    background-color: $gray;
    color: $white;
  }
}