@mixin button($button-color, $text-color: $white, $outline: false) {
  @if $outline == true {
    border: 1px solid $button-color;
    color: $button-color;
  } @else {
    background-color: $button-color;
    color: $text-color;
  }
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    @if $outline == true {
      background-color: $button-color;
      color: $text-color;
    } @else {
      outline: none;
      background-color: darken($button-color, 10%);
    }
  }
}

button {
  cursor: pointer;
  font-family: $brand-font-stack;
  font-size: 1rem;
  border: transparent;
  border-radius: 3px;
  background-color: transparent;
}

.btn-primary,
.mktoButton {
  @include button($brand)
}

.btn-white--outline {
  @include button($white, $gray, true);
}

.btn-dark--outline {
  @include button($gray, $white, true);
}

.btn-brand-two--outline {
  @include button($brand2, $white, true);
}

.btn-brand-three--outline {
  @include button($brand3, $white, true);
}

.btn-brand-four--outline {
  @include button($brand4, $white, true);
}

.btn-brand-five--outline {
  @include button($brand5, $white, true);
}

.btn-arrow {
  position: relative;
  font-weight: bold;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  display: inline-block;
  z-index: 1;
  .arrow {
    display: inline-block;
    margin-left: 0.5em;
  }
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: -1rem;
    bottom: 0;
    transform: translateY(calc(100% - 2px));
    background-color: $brand2;
    transition: all 200ms ease-in-out;
  }
  &:after {
    content: '>';
    position: absolute;
    top: 50%;
    left: calc(100% + 0.5em);
    transform: translateY(-50%);
  }
  &:hover,
  &:focus {
    color: $white;
    &:before {
      transform: translateY(0);
    }
  }
}