.site-width {
  width: calc(100% - 2rem);
  max-width: map-get($breakpoints, xl);
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    width: calc(100% - 4rem);  
  }
  @include desktop {
    width: calc(100% - 8rem);  
  }
}

.half {
  display: flex;
  flex-wrap: wrap;
  > * {
    margin-right: 2rem;
    margin-bottom: 2rem;
    flex-basis: calc((100%/2) - 3.2rem);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @supports (display: grid) {
    display: grid;
    grid-gap: 2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    > * {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.third {
  display: flex;
  flex-wrap: wrap;
  > * {
    margin-right: 2rem;
    margin-bottom: 2rem;
    flex-basis: calc((100%/3) - 3.5rem);
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @supports (display: grid) {
    display: grid;
    grid-gap: 2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
    > * {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.fourth {
  display: flex;
  flex-wrap: wrap;
  > * {
    margin-right: 2rem;
    margin-bottom: 2rem;
    flex-basis: calc((100%/4) - 3.6667rem);
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  @supports (display: grid) {
    display: grid;
    grid-gap: 2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
    }
    > * {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}


.vertical-align {
  align-items: center;
}