.site-width {
  width: calc(100% - 2rem);
  max-width: map-get($breakpoints, xl);
  margin-left: auto;
  margin-right: auto;
  @include bp(sm) {
    width: calc(100% - 4rem);
  }
  @include bp(lg) {
    width: calc(100% - 8rem);
  }
}

.half,
.half-force,
.third,
.third-force,
.fourth,
.two-third,
.one-fourth {
  // display: table;
  display: flex;
  flex-direction: column;
  // border: 2px solid red;
  @include bp(sm) {
    flex-direction: row;
  }
  > * {
    // display: table-cell;
    flex: 1;
    margin-bottom: 2rem;
    // border: 1px solid green;
    @include bp(sm) {
      margin-bottom: 0;      
    }
  }
}

.two-third {
  > * {
    &:first-child {
      flex-grow: 2;
    }
  }
  &.grid-reverse > * {
    &:first-child {
      flex-grow: 1;
    }
    &:last-child {
      flex-grow: 2;
    }
  }
}

.one-fourth {
  > * {
    &:first-child {
      flex-grow: 3;
    }
  }
  &.grid-reverse > * {
    &:first-child {
      flex-grow: 1;
    }
    &:last-child {
      flex-grow: 3;
    }
  }
}

.half-force,
.third-force {
  flex-direction: row;
}